/* Config */
$color-particle: #FD5B00;
$spacing: 2560px;
$time-1: 60s;
$time-2: 120s;
$time-3: 180s;
$time-4: 200s;

/* mixins */
@function particles($max) {
  $val: 0px 0px $color-particle;
  @for $i from 1 through $max {
    $val: #{$val}, random($spacing)+px random($spacing)+px $color-particle;
  }
  @return $val;
}

@mixin particles($max) {
  box-shadow: particles($max);
  border-radius: 50%;
}

/* Styles */


.particle, .particle:after {
  background: transparent;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100px;
}

.particle:after {
  position: relative;
  content: "";
  top: 0px;
  left: 2px;
  height: 100px;
}


.particle-2 {
  animation: animParticle $time-2 linear infinite;
  @include particles(800);
  height: 2px;
  width: 2px;
}

.particle-2:after {
  @include particles(500);
  height: 3px;
  width: 3px;
}


.particle-4 {
  animation: animParticle $time-4 linear infinite;
  @include particles(1200);
  height: 1px;
  width: 1px;
  color: #FD5B00;
}

.particle-4:after {
  @include particles(700);
  height: 1px;
  width: 1px;
  color: #FD5B00;
}

@keyframes animParticle {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY($spacing * -1);
  }
}