@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); /* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap'); /*  */

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Signika', sans-serif;
  padding: 0;
  margin: 0;
}

#NavBarPage{
  display: none;
}

#AppPage{
  display: none;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {

  --primaryColor: #16324F;
  --secondaryColor: #CED3DC;
  --textWhite: #FFFFFF;
  --orangeColor: #FD5B00;

}



/* NavBar */

nav.NavBarAll {
  background-color: var(--primaryColor);
  height: 100%;
  width: 100%;
  margin-bottom: 0!important;
}

div.cvButton{
  background-color: var(--orangeColor);
  text-align: center;
  border-radius: 60px;
}

a.cvButton{
  color: var(--secondaryColor);
  font-weight: 700;
  font-size: 20px;
  transition: 0.5s;
  
}

a.cvButton:hover{
  transform: scale(2);
}

a.TitleNavbar{
  color: var(--textWhite);
  font-weight: 400;
  font-size: 20px;
}

/* NavBar */


/* Div 1 */


div.FirstDivBackground{
  background-color: var(--primaryColor);
  height: 100vh;
  
}
/* PRENOM ET NOM */
p.text1{
  color: var(--orangeColor);
  display: inline-flex;
  text-transform: uppercase;
  font-weight: 700;
  border-right: 4px solid;
  width: 401px;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(22), blinking 0.5s infinite step-end alternate;
}

/* PRENOM ET NOM */

/* WEB DEVELOPPER TEXT */

p.text2{
  color: var(--orangeColor);
  display: inline-flex;
  text-transform: uppercase;
  font-weight: 700;
}

/* WEB DEVELOPPER TEXT */

/* Animation blink prenom et nom */

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blinking {
  50% {
    border-color: transparent;
  }
}

/* Animation blink prenom et nom */


.text-secondary{
  color: var(--secondaryColor);
  transition: 0.5s;
}

.text-primary{
  color: var(--primaryColor)
}

a.text-secondary:hover{
  color: var(--orangeColor);
}


/* Div 1 */


/* DIV 2 */

.SecondDivBackground{
  background-color: var(--secondaryColor);
  height: 100vh;
}

/* DIV 2 */