@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');


body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Signika', sans-serif;
  padding: 0;
  margin: 0;

  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;

}

body::-webkit-scrollbar {
  display: none;
}




#NavBarPage {
  display: none;
}

#AppPage {
  display: none;


}


#parent {
  width: 100vw;
  scroll-snap-type: y mandatory;
  flex-basis: 100%;
  max-height: 100vh;
  scroll-snap-stop: always;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

}







code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {

  --primaryColor: #16324F;
  --secondaryColor: #CED3DC;
  --textWhite: #FFFFFF;
  --orangeColor: #FD5B00;

}


/* Animations */

/* Scroll Pages */

#parent::-webkit-scrollbar {
  display: none;
}


#div1{
  scroll-snap-align: center;
}
#div2{
  scroll-snap-align: center;
}
#div3{
  scroll-snap-align: center;
}
#div4{
  scroll-snap-align: center;
}


/* Scroll Pages */


/* Icons */
.bounce {
  display: inline-block;
  position: relative;
  animation: bounce .4s ease infinite alternate;
}

@keyframes bounce {
  0% {
    text-shadow:
      0 5px 0 #ccc,
      0 2px 3px rgba(0, 0, 0, 0);
  }

  100% {
    transform: translateY(-20px);
    text-shadow: 0 0px 0 transparent,
      0 0px 20px rgba(0, 0, 0, 0);
  }
}

/* Icons */

/* Animations */



/* NavBar */

nav.NavBarAll {
  background-color: var(--primaryColor);
  height: 100%;
  width: 100%;
  margin-bottom: 0 !important;
}

div.cvButton {
  background-color: var(--orangeColor);
  text-align: center;
  border-radius: 60px;
}

a.cvButton {
  color: var(--secondaryColor);
  font-weight: 700;
  font-size: 20px;
  transition: 0.5s;

}

a.cvButton:hover {
  transform: scale(2);
}

a.TitleNavbar {
  color: var(--textWhite);
  font-weight: 400;
  font-size: 20px;
}

/* NavBar */


/* Div 1 */


div.FirstDivBackground {
  background-color: var(--primaryColor);
  height: 100vh;

}

/* PRENOM ET NOM */
p.text1 {
  color: var(--orangeColor);
  display: inline-flex;
  text-transform: uppercase;
  font-weight: 700;
  border-right: 4px solid;
  width: 401px;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(22), blinking 0.5s infinite step-end alternate;
}

/* PRENOM ET NOM */

/* WEB DEVELOPPER TEXT */

p.text2 {
  color: var(--orangeColor);
  display: inline-flex;
  text-transform: uppercase;
  font-weight: 700;
}

/* WEB DEVELOPPER TEXT */

/* Animation blink prenom et nom */

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blinking {
  50% {
    border-color: transparent;
  }
}

/* Animation blink prenom et nom */


.text-secondary {
  color: var(--secondaryColor);
  transition: 0.5s;
}

.text-primary {
  color: var(--primaryColor)
}

a.text-secondary:hover {
  color: var(--orangeColor);
}


.text-orange {
  color: var(--orangeColor);
}

/* Div 1 */


/* DIV 2 */

.SecondDivBackground {
  background-color: var(--secondaryColor);
  height: 100vh;
}

.is-vertical-center {
  display: -ms-flexbox;
  align-items: center;
}

/* DIV 2 */


/* DIV 3 */

.ThreeDivBackground{
  background-color: var(--primaryColor);
  height: 100vh;

}

.checkedStar{
  color: var(--orangeColor);
}


/* DIV 3 */


/* DIV 4 */

.Fourthdiv{
  background-color: var(--secondaryColor);
  height: 100vh;
}



/* DIV 4 */



/* Footer */



/* Footer */


